@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

/*
NAV-background : #282828;
Icons / Lines : #ff0511;
*/


/*Főoldal*/

/*Minden margin 0-ra állítás: */

*{
    margin: 0;
}

body{
    background-color: black;
}

/*Menü kialakítása*/

#menu{
    grid-area: menus;
    color: white;
    background-color: #282828;
    margin: 0;
    padding: 1px;
    font-family: 'Francois One';
}

#menu a{
    color: white;
    text-decoration: none;
}

#menu ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 10px;
    max-width: 100px;
}

#menu li{
    margin: 10px 0px 10px 50px;
}

/*Főoldal tartalmának kialakítása*/

#tartalom-fooldal{
    background: #282828;
    color: white;
    text-align: center;
    display: grid;
    grid-template-areas: 'menus menus menus'
                         'focim focim focim'
                         'tartalom tartalom tartalom';
    
}

#tartalom-fooldal h1{
    grid-area: focim;
    font-family: 'Fredoka One';
    color: white;
    font-size: 30pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tartalmak{
    margin: auto;
    grid-area: tartalom;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#tartalmak .tartalombox{
    max-width: 300px;
    margin: auto;
    padding: 20px;
    margin: 20px;
}

#kozepso{
    border-right: 2px solid red;
    border-left: 2px solid red;
}

.tartalombox img{
    max-width: 150px;
}

.tartalombox ul li{
    list-style: none;
    text-align: left;
    margin-top: 10px;
    font-family: 'Roboto Condensed';
}

.tartalombox li::before{
    content: ">";
    padding-right: 7px;
    color: orange;
}


/*
    career.html
*/

#tartalom{
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 200px;
    display: grid;
    grid-template-areas: 'secondtartalmak secondtartalmak secondtartalmak';
    
}

#secondtartalmak{
    margin: auto;
    max-width: 1800px;
    display: grid;
    grid-template-areas: 'szoveg kep';
}

img{
    grid-area: kep;
    width: 400px;
    margin-top: 50px;
}

#szoveg{
    grid-area: szoveg;
    max-width: 600px;
    margin-left: 50px;
    margin-right: 200px;
}

#szoveg h1{
    font-family: 'Fredoka One';
    color: white;
    font-size: 30pt;
    margin-top: 50px;
    margin-left: 50px;
    width: 400px;
    text-align: left;
    letter-spacing: 2px;
}

#szoveg p{
    text-align: justify;
    width: 600px;
    margin-left: 50px;
    font-family: 'Roboto Condensed';
}

#elsobekezdes{
    padding-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid red;
}

/*
    contact.html
*/

#startalom{
    margin: auto;
    color: white;
    margin-top: 200px;
    margin-bottom: 200px;
}

#salestart{
    font-family: 'Roboto Condensed';
    margin: auto;
    margin-top: 100px;
    width: 80%;
    max-width: 1800px;
    display: grid;
    grid-template-areas: 'salesfocim salesfocim salesfocim salesfocim'  
                         'salesszoveg salesszoveg salesszoveg salesszoveg'
                         'salesbox salesbox salesbox salesbox';
}

#salestart h1{
    grid-area: salesfocim;
    font-family: 'Fredoka One'; 
    margin: auto;
    max-width: 500px;
    letter-spacing: 3px;
    text-align: center;
    border-bottom: 2px solid red;
    margin-bottom: 10px;
}

#salestart p{
    max-width: 500px;
    grid-area: salesszoveg;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.salesbox{
    width: 200px;
    margin: auto;
}

.salesbox p{
    font-family: Arial, Helvetica, sans-serif;
    
}


.salesbox .gomb{
    font-family: 'Roboto Condensed';
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(97, 148, 180);
}

.salesbox img{
    width: 100px;
    border-radius: 50%;
    margin: 30px 0px 10px 50px;
    
}

.salesbox a{
    text-decoration: none;
}

.salesbox a:link {
    color: white;
  }

.salesbox a:visited {
    color: white;
  }

.salesbox a:hover {
    color: blue;
  }

.salesbox a:active {
    color: red;
  }

/*Egyediség: scrollbar*/


body::-webkit-scrollbar-track
{
	border-radius: 5px;
    max-height: 10%;
}

body::-webkit-scrollbar
{
	width: 7px;
    background: none;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: red;
}

@media screen and (max-width: 400px){
    #menu ul{
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px;
        margin-left: 5px;
        max-width: 50px;
    }

    #menu li{
        margin: 10px 0px 10px 10px;
    }

    #tartalom-fooldal h1{
        color: white;
        font-size: 25pt;
        width: 400px;
    }

    #tartalmak{
        margin: auto;
        grid-area: tartalom;
        max-width: 300px;
        display: grid;
        grid-template-columns: 1fr;
    }

    #tartalmak .tartalombox{
        max-width: 300px;
        margin: auto;
        padding: 20px;
        margin: 20px;
        border-left: 2px solid red;
        border-right: 2px solid red;
    }

    #tartalom{
        background-color: black;
        width: 100%;
        max-width: 200px;
        color: white;
        text-align: center;
        margin-top: 100px;
    }

    #secondtartalmak{
        margin: auto;
        max-width: 100px;
        display: grid;
        grid-template-areas: 'szoveg'
                             'kep';
    }

    img{
        grid-area: kep;
        width: 300px;
        margin-left: 30px;
        margin-top: 50px;
        
    }
    
    #szoveg{
        grid-area: szoveg;
        max-width: 100px;
        margin: 0;
    }
    
    #szoveg h1{
        grid-area: szoveg_focim;
        font-family: 'Fredoka One';
        color: white;
        font-size: 25pt;
        margin-left: -20px;
        text-align: center;
        letter-spacing: 2px;
    }
    
    #szoveg p{
        grid-area: szoveg_bekezdes;
        text-align: justify;
        width: 300px;
        margin-left: 30px;
        font-family: 'Roboto Condensed';
    }
    
    #elsobekezdes{
        padding-top: 20px;
        margin-bottom: 20px;
        border-top: 2px solid red;
    }
}